* {
    font-family: "Raleway", serif;
    font-style: normal;
}

body {
    font-family: "Raleway", serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

main {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

main h1 {
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    background-color: #333;
    color: white;
    font-size: 1.2rem;
}

footer #lastModified {
    color: rgb(227, 214, 25);
    font-style: italic;
}

footer p {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 10%;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 1rem;
}

.navbar-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-self: end;
    width: 30%;
    padding-top: 4rem;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
    overflow: hidden;
}

.navbar a:hover {
    color: #2a91fe;
}

.navbar a.current {
    font-weight: bold;
    text-decoration: underline;
}

.toggle-button {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 0;
}

.logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    max-height: 100%;
    gap: 0;
    align-items: center;
    justify-content: space-evenly;
}

.logo h1 {
    grid-row: 1;
    grid-column: 2;
    margin: 0 auto;
    font-weight: bold;
}

.logo img {
    grid-row: 1/3;
    width: 40%;
    height: auto;
    margin: 0 auto;
}

.logo p {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
    margin: 0 auto;
}

.logo span {
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem;
}

.directory-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
}

.directory-header h1 {
    padding: 1rem;
    flex: 3 1 80%;
    text-align: center;
}

.directory-header button {
    padding: 0.5rem 1rem;
    background-color: #3898ff;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
}

.layout.list-view {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 1rem;
}

.member-card {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.member-card.list-view {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    overflow: hidden;
    align-self: center;
}

.member-card.list-view h2 {
    font-size: small;
}

.member-card.list-view a {
    display: none;
}

.member-card p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.member-card a {
    display: flex;
    margin: 0 auto;
    width: 80%;
    height: 70%;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.member-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
}

.member-card img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.membership {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

.toggle-button {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 0;
}

.card-body .footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* border: solid 1px red; */
}

.footer-info p {
    margin: 0 auto;
    padding: .2rem;
    text-align: center;
    font-size: small;
    text-align: left;
    align-self: center;
    justify-self: center;
}

.footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    /* border: solid 1px green; */
    width: 100%;
    height: auto;
}

.footer-links a .footer-links a:visited {
    text-decoration: none;
}

.footer-info a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 415px) {
    main {
        padding-bottom: 1rem;
        overflow: hidden;
    }

    .layout {
        width: 90%;
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
        justify-content: center;
        align-items: center;
        padding: .5rem;
        overflow: hidden;
    }

    .navbar-links {
        padding: 0;
        margin-right: 0.2rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: .6rem;
        gap: 0;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: opacity .8s ease-in-out, transform .8s ease-in-out, visibility 0s linear .8s;
    }

    .toggle-button {
        display: block;
        cursor: pointer;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 100;
        left: 5rem;
    }

    .toggle-button .line {
        width: 100%;
        height: 3px;
        background-color: white;
        position: absolute;
        transition: transform 1s ease, opacity 1s ease;
    }

    .toggle-button .line-1 {
        top: 0;
    }

    .toggle-button .line-2 {
        top: 8px;
    }

    .toggle-button .line-3 {
        top: 16px;
    }

    .navbar-links.show+.toggle-button .line-1 {
        transform: rotate(45deg);
        top: 8px;
    }

    .navbar-links.show+.toggle-button .line-2 {
        opacity: 0;
    }

    .navbar-links.show+.toggle-button .line-3 {
        transform: rotate(-45deg);
        top: 8px;
    }

    .navbar-links.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        display: flex;
    }

    .toggle-button.active .line-1 {
        transform: rotate(45deg);
        top: 8px;
    }

    .toggle-button.active .line-2 {
        opacity: 0;
    }

    .toggle-button.active .line-3 {
        transform: rotate(-45deg);
        top: 8px;
    }

    .navbar a {
        padding-top: .5rem;
        width: 80%;
        margin-right: 2rem;
    }

    .directory-header {
        flex-direction: column;
        text-align: center;
    }

    .directory-header h2 {
        font-size: 1.5rem;
        flex: none;
    }

    .member-card {
        width: auto;
        height: 90%;
        padding: 0.5rem;
        box-shadow: none;
    }

    .member-card p {
        font-size: 0.7rem;
    }

    .member-card a {
        height: auto;
        padding: 0.5rem;
    }

    .member-card img {
        width: 100%;
        height: auto;
    }
}