body {
    font-family: "raleway", sans-serif;
}

.main {
    width: 100%;
}

main h1 {
    text-align: center;
}

.discover-grid {
    display: grid;
    grid-template-areas: "sidebar" "cards";
    gap: 1rem;
    padding: 1rem;
    max-width: 100%;
    /* border: solid 1px blue; */
}

.sidebar {
    grid-area: sidebar;
    background: darkblue;
    padding: 15px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.cards {
    grid-area: cards;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    max-width: 100%;
    height: auto;
    /* border: solid 1px red; */
    justify-content: center;
}

button {
    background: #052fff;
    /* Primary Blue */
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    text-align: center;
}

button a {
    color: aliceblue;
    text-decoration: none;
    font-size: large;
    width: 100%;
    height: auto;
}

button:hover {
    background: darkblue;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

@media (max-width: 38rem) {
    .cards {
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        gap: 0;
        width: 100%;
    }

    button {
        width: 100%;
    }

    #allplaces div {
        margin: 0;
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.315);
        padding: 1rem;
        border-radius: 5px;
        overflow: hidden;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: auto;

        display: grid;
        grid-template-areas:
            "name"
            "photo"
            "location"
            "description"
            "button"
        ;
        gap: 0;
        /* border: solid 1px red; */
    }

    #allplaces div h2 {
        grid-area: name;
        width: 100%;
        margin: .8rem;
        /* border: solid 1px blue; */
    }

    #allplaces div img {
        grid-area: photo;
        width: 100%;
        height: auto;
        margin: 0;
        /* border: solid 1px yellow; */
    }

    #allplaces div p {
        grid-area: description;
        width: 100%;
        margin: 0.5rem;
        /* border: solid 1px green; */
    }

    #allplaces div address {
        grid-area: location;
        /* border: solid 1px red; */
    }

    #allplaces div button {
        grid-area: button;
        width: 70%;
        height: 65px;
        margin: 0;
        /* border: solid 1px black; */
        align-self: center;
        justify-self: center;
    }
}

@media (min-width: 38rem) and (max-width: 64rem) {
    .cards {
        grid-template-columns: 1fr;
    }

    #allplaces div {
        display: grid;
        margin: 0;
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.315);
        padding: 1rem;
        border-radius: 5px;
        overflow: hidden;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: auto;


        grid-template-areas:
            "photo name"
            "photo location"
            "photo description"
            "button button"
        ;
        gap: 0;
        /* border: solid 1px red; */
    }

    #allplaces div h2 {
        grid-area: name;
        width: 100%;
        margin: 0;
        /* border: solid 1px blue; */
    }

    #allplaces div img {
        grid-area: photo;
        width: 100%;
        height: auto;
        margin: 0;
        /* border: solid 1px yellow; */
    }

    #allplaces div p {
        grid-area: description;
        width: 100%;
        margin: 0.5rem;
        /* border: solid 1px green; */
    }

    #allplaces div address {
        grid-area: location;
        /* border: solid 1px red; */
    }

    #allplaces div button {
        grid-area: button;
        width: 60%;
        height: 70px;
        margin: 0;
        /* border: solid 1px black; */
        align-self: center;
        justify-self: center;
        margin-top: 1rem;
    }

}

@media (min-width: 64rem) {
    .discover-grid {
        grid-template-areas: "sidebar cards";
        grid-template-columns: .5fr 5fr;
    }

    .cards {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    #allplaces div {
        display: grid;
        margin: 0;
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.315);
        padding: 1rem;
        border-radius: 5px;
        overflow: hidden;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: auto;


        grid-template-areas:
            "photo"
            "name"
            "location"
            "description"
            "button"
        ;
        gap: 0;
        /* border: solid 1px red; */
    }

    #allplaces div h2 {
        grid-area: name;
        width: 100%;
        margin: 0;
        /* border: solid 1px blue; */
    }

    #allplaces div img {
        grid-area: photo;
        width: 100%;
        height: auto;
        margin: 0;
        /* border: solid 1px yellow; */
    }

    #allplaces div p {
        grid-area: description;
        width: 100%;
        margin: 0;
        /* border: solid 1px green; */
    }

    #allplaces div address {
        grid-area: location;
        /* border: solid 1px red; */
    }

    #allplaces div button {
        grid-area: button;
        width: 60%;
        height: 70px;
        margin: 0;
        /* border: solid 1px black; */
        align-self: center;
        justify-self: center;
    }
}

@media (min-width: 38rem) {
    .card img {
        transition: transform 0.3s ease-in-out;
    }

    .card img:hover {
        transform: scale(1.1);
    }
}