    * {
        font-family: "Raleway", serif;
        font-style: normal;
    }
    
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        /* border: solid 1px red; */
        background-color: #333;
        color: white;
    }
    
    header div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    header img {
        padding: 1rem;
        width: 150px;
        height: 150px;
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        background-color: black;
        padding: 1rem;
        width: 100%;
        height: auto;
        /* border: solid 1px red; */
    }
    
    .navbar a {
        color: white;
        text-decoration: none;
        padding: 0 2rem;
        transition: 0.5s;
    }
    
    .navbar a:hover {
        color: #2a91fe;
    }
    
    .navbar a.current {
        color: #2a91fe;
        font-weight: bold;
    }
    
    .toggle-button {
        display: none;
        background: none;
        border: none;
        color: white;
        font-size: 2rem;
        cursor: pointer;
        padding: 0;
    }
    
    .navbar-links {
        display: flex;
        gap: 1rem;
    }
    
    main {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
        margin: 1rem;
        padding: 1rem;
        gap: 1rem;
        height: 150vh;
    }
    
    section {
        box-shadow: .1rem .5rem 1rem rgba(0, 0, 0, 0.525);
    }
    
    section h2 {
        text-align: center;
        background-color: #333;
        color: white;
        padding: 1rem;
        width: 100%;
    }
    
    main .coursework {
        flex: 2 1 66%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        align-items: center;
        justify-content: space-around;
        height: auto;
    }
    
    .coursework h2 {
        margin-top: .3rem;
    }
    
    .coursework ul {
        width: 90%;
        /* border: solid 1px red; */
        padding: 1rem 0 1rem 0;
    }
    
    ul {
        list-style-type: none;
    }
    
    main .place {
        flex: 1 1 20%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        align-items: center;
        justify-content: space-around;
        overflow: hidden;
        height: auto;
    }
    
    .place img {
        align-self: center;
        justify-self: center;
        box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.525);
        transition: transform 0.4s;
        margin-bottom: .5rem;
        height: 100%;
        width: 100%;
    }
    
    .place img:hover {
        transform: scale(1.1);
    }
    
    .place figcaption {
        text-align: center;
        color: rgba(0, 0, 0, 0.662);
        font-style: italic;
        font-size: 0.8rem;
    }
    
    main .certificate {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        /* border: solid 1px red; */
        width: 100%;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: auto;
    }
    
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        /* border: solid 1px red; */
        background-color: #333;
        color: white;
        font-size: 1.2rem;
    }
    
    footer #lastModified {
        color: rgb(227, 214, 25);
        font-style: italic;
    }
    
    footer p {
        text-align: center;
    }
    
    footer img {
        width: 30px;
        height: auto;
        margin-top: 2px;
    }
    
    .filter-buttons {
        display: flex;
        flex-direction: row;
    }
    
    button {
        padding: 1rem;
        margin: .5rem;
        cursor: pointer;
        background-color: #1899FC;
        color: black;
        border: none;
        border-radius: 5px;
        transition: .4s;
        width: 5rem;
        height: 3rem;
        /* border: solid 1px red; */
        display: inline-flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        font-weight: 600;
    }
    
    button:hover {
        background-color: #333;
        font-size: 1.1rem;
        font-weight: 700;
    }
    
    .courseList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 0;
        /* border: solid 1px red; */
        justify-content: space-evenly;
        transition: opacity 1s ease-in-out, transform 1s ease-in-out;
        transition: height 1s ease;
        overflow: hidden;
        padding: 1rem;
    }
    
    .completed {
        display: flex;
        background-color: #09AD16;
        color: black;
        font-weight: bold;
        padding: 1rem;
        margin: 1rem;
        border-radius: 5px;
        width: 25%;
        text-align: center;
        transition: 1s;
        justify-content: center;
        align-items: center;
    }
    
    .not-completed {
        display: flex;
        background-color: #EC6E69;
        font-weight: bold;
        padding: 1rem;
        margin: 1rem;
        border-radius: 5px;
        width: 25%;
        text-align: center;
        justify-content: center;
        align-items: center;
        transition: 1s;
        color: black;
    }
    
    @media (max-width: 425px) {
        main {
            height: auto;
        }
        header {
            flex-direction: row;
        }
        header h1 {
            font-size: 1.5rem;
        }
        .navbar {
            padding: 0;
            margin: .5rem;
            gap: 0;
            background-color: #333;
            transition: opacity 1s ease-in-out, transform 1s ease-in-out;
            overflow: hidden;
        }
        .navbar-links {
            padding: 0;
            margin-right: 0.2rem;
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: .6rem;
            gap: 0;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-20px);
            transition: opacity .8s ease-in-out, transform .8s ease-in-out, visibility 0s linear .8s;
        }
        .toggle-button {
            display: block;
            cursor: pointer;
            width: 30px;
            height: 20px;
            position: relative;
            z-index: 100;
        }
        .toggle-button .line {
            width: 100%;
            height: 3px;
            background-color: white;
            position: absolute;
            transition: transform 1s ease, opacity 1s ease;
        }
        .toggle-button .line-1 {
            top: 0;
        }
        .toggle-button .line-2 {
            top: 8px;
        }
        .toggle-button .line-3 {
            top: 16px;
        }
        .navbar-links.show+.toggle-button .line-1 {
            transform: rotate(45deg);
            top: 8px;
        }
        .navbar-links.show+.toggle-button .line-2 {
            opacity: 0;
        }
        .navbar-links.show+.toggle-button .line-3 {
            transform: rotate(-45deg);
            top: 8px;
        }
        .navbar-links.show {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            display: flex;
        }
        .toggle-button.active .line-1 {
            transform: rotate(45deg);
            top: 8px;
        }
        .toggle-button.active .line-2 {
            opacity: 0;
        }
        .toggle-button.active .line-3 {
            transform: rotate(-45deg);
            top: 8px;
        }
        .navbar a {
            padding: .4rem;
            width: 80%;
        }
        .courseList {
            padding-bottom: 5rem;
        }
    }